html, body {
    height: 100%;
    margin: 0;
}

.row, .col-8,.col-4 {
    height: 100%;
}
.col-8 {
    background-color: black;
}

.flexer-image {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    max-height: 100%;
    flex-grow: 3;
}
.img-fluid {
    width: 100%;
    height: auto;
}
.layover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: none;
}
.colm1:hover .layover{
    /* width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5; */
    display: flex;
}
.colm2:hover .layover {
    display: flex;
}
.colm3:hover .layover{
    display: flex;
}
.colm4:hover .layover{
    display: flex;
}
.colm11:hover .layover{
    display: flex;
}
.colm22:hover .layover{
    display: flex;
}
.colm33:hover .layover{
    display: flex;
}
.colm44:hover .layover{
    display: flex;
}
.img-fluid2 {
    width: 100%;
    height: 100%;
    max-height: 100%;
}
.img-fluid3 {
    width: auto;
    height: 100%;
}
.redBorder {
    position: absolute;
    top: 49.5%;
    left: 67%;
    transform: translate(-50%, -50%);
    width: calc(100% - 52%);
    height: calc(100% - 17.5%);
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}



/* .topRow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.topRow {
    position: relative;
    width: 100%;
    height: 23%;
    max-height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topRow2 {
    position: relative;
    width: 100%;
    height: 27.5%;
    max-height: 27.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topRow3 {
    position: relative;
    width: 100%;
    height: 26%;
    max-height: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topRow4 {
    position: relative;
    width: 100%;
    height: 24%;
    max-height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-bio{
    display: flex;
    justify-content: center;
    /* align-items: center; */

    width: auto;
    height: 37%;
    max-height:40%;
    margin-top:3%;
    position: relative;
}

.centerz {

    width: 80%;
    margin-top:5%;
    position: relative;
    text-align: center;
}
.centerz img {
    border-radius: 50px;
}

.name {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    height: 10%;
}

.tweak {
    margin-top: 0px;
    margin-left: 3%;
}

.fancy-text {
    height: 50%;
    margin: 0px 11%;
}

.centralPic {
    position: absolute;
    top: 50.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 52%);
    height: calc(100% - 52.5%);
    max-height: 50%;
    /* border: 2px solid red; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;

}
.centralPic img {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.colm1 {
    position: absolute;
    top: 50.2%;
    left: 11.1%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% - 5.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
}

.colm2 {
    position: absolute;
    top: 50.2%;
    left: 37.1%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% - 5.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
}

.colm3 {
    position: absolute;
    top: 50.2%;
    left: 63%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% - 5.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
}
.colm4 {
    position: absolute;
    top: 50.2%;
    left: 88.5%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% - 5.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
}

.colm11 {
    position: absolute;
    top: 53%;
    left: 11.4%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% - 5.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
}

.colm44 {
    position: absolute;
    top: 53.2%;
    left: 88.7%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% - 5.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
}

.colm100 {
    position: absolute;
    top: 102.2%;
    left: 11.5%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% + 82.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
    z-index: 3;
}
.colm100Back {
    position: absolute;
    top: 102.2%;
    left: 11.5%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% + 82.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
    z-index: 2;
}
.colm101 {
    position: absolute;
    top: 102.2%;
    left: 88.65%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% + 82.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
    z-index: 3;
}
.colm101Back {
    position: absolute;
    top: 102.2%;
    left: 88.65%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% + 82.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
    z-index: 2;
}

.colm22 {
    position: absolute;
    top: 50.2%;
    left: 37.1%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% - 5.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
}

.colm33 {
    position: absolute;
    top: 50.2%;
    left: 63%;
    transform: translate(-50%, -50%);
    width: calc(100% - 78%);
    /* max-width: calc(100% - 81%); */
    height: calc(100% - 5.5%);
    /* max-height: 50%; */
    /* border: 2px solid red; */
    display: flex;
}
